.container > h1 {
    color: white;
    padding: 10px;
  }
  
  #netflixHeading {
    color: red;
    font-weight: 900;
    text-shadow: 5px 3px 5px lightblue;
  }
  #startBtn {
    width: fit-content;
    align-self: center;
    margin: 5px;
    padding: 5px 15px;
    border-radius: 10px;
  }
  